/*Shared style*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    width: 85%;
    max-width: 1360px;
    margin: auto;
    border: 1px black solid;
    padding-top:16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
nav .menu {
    display: inline;
    text-decoration: none;
    /* width: 365px; */
    /* list-style-type: none; */
    /* justify-content: space-between; */
    /* gap: 32px; */
}

nav .menu a{
    text-decoration: none;
    /* gap: 32px; */
    
}

