/*Shared style*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    width: 85%;
    max-width: 1360px;
    margin: auto;
    border: 1px black solid;
    padding-top:16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
nav .menu {
    display: inline;
    text-decoration: none;
    /* width: 365px; */
    /* list-style-type: none; */
    /* justify-content: space-between; */
    /* gap: 32px; */
}

nav .menu a{
    text-decoration: none;
    /* gap: 32px; */
    
}


/*banner Section*/

.banner {
    width: 100%;
    background-image: url(./Images/hero-bg.png);
    height: 674px;
       
}

.radesign {    
    width: 14.3125%;
    padding-top: 115px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 6px; */
    
}

.early {
    /* background-color: red; */
    position: relative;
    
}
.circle {
    position: absolute;
    height: 16px;
    width: 16px;
    background-color: #469165;
    border-radius: 50%;
    opacity: 40%;
    transform: translate(-50%, -50%);
}

.c3 {    
    height: 6px;
    width: 6px;
    border-radius: 50%;
    opacity: 20%;
    
}

.c2 {    
    height: 12px;
    width: 12px;
    border-radius: 50%;
    opacity: 20%;
    
}
.c1 {
    
    height: 6px;
    width: 6px;
    border-radius: 50%;
}
